﻿@section Scripts {
    @Scripts.Render("~/Scripts/script.js")
}

@*forma za registraciju---------------------------------------------------------------------------*@
<div class="row">
    <div class="col-sm-4" style="display: none" id="showRegForm">
        <form method="post" action="post/" id="registration">
            <h3>Registration</h3>
            <div class="form-group">
                <label>Email</label>
                <input class="form-control" type="email" id="regEmail" />
            </div>
            <div class="form-group">
                <label>Password</label>
                <input class="form-control" type="password" id="regPass" />
            </div>
            <div class="form-group">
                <label>Confirm Password</label>
                <input class="form-control" type="password" id="regPass2" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Registration</button>
                <button class="btn btn-default" id="backToLog">Back</button>
            </div>
        </form>
    </div>
    @*forma za login--------------------------------------------------------------------------------*@
    <div class="col-sm-4">
        <form method="post" action="post/" id="login">
            <h3>Log in</h3>
            <div class="form-group">
                <label>Email</label>
                <input class="form-control" type="email" id="logEmail" />
            </div>
            <div class="form-group">
                <label>Password</label>
                <input class="form-control" type="password" id="logPass" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Log in</button>
                <button class="btn btn-default" id="showReg">Registration</button>
            </div>
        </form>
    </div>
</div>

<br />
@*Logout i tasteri za filtriranje-----------------------------------------------------------*@
<div class="row">
    <div class="col-sm-4" id="logout" style="display:none">
        <p id="info"></p>
        <p id="message"></p>
        <button class="btn btn-danger" id="btnLogout">Log out</button>
    </div>
    <div class="col-sm-2" style="display:none" id="showAdd">
        <button class="btn btn-primary" id="btnAddNew">Add new product</button>
    </div>
    <div class="col-sm-2" style="display:none" id="refreshTable">
        <button class="btn btn-success" id="refreshT">Refresh</button>
    </div>
    <div class="col-sm-2" style="display:none" id="top5">
        <button class="btn btn-warning" id="btnCheapest"> Cheapest 5 </button>
    </div>
    <div class="col-sm-2" style="display:none" id="cheap5">
        <button class="btn btn-info" id="btnTopFive"> Top 5 </button>
    </div>
</div>
<br>
<div class="col-md-6">
    <label id="searchBox" style="display:none; margin-top: 30px;" ><input placeholder="Search" class="form-control" id="searchInput"><button class="btn btn-success" id="btnSearch" style="margin-left: 90px; margin-top: 10px;">Search</button></label>
</div>
<div class="col-md-6">
    <div id="formSearch" style="display: none">
        <form method="get" action="post/" id="search" title="Search by price">
            <p><label>Min: <input type="number" id="min" class="form-control"></label></p>
            <p><label>Max: <input type="number" id="max" class="form-control"></label></p>
            <button type="submit" class="btn btn-info" id="filterMinMax" style="margin-left: 30px">Search by price</button>
        </form>
    </div>
</div>


<hr />

@*Conteiner za ucitavanje podataka i forma za edit i unos-----------------------------------*@
<div id="content">
    
    <div id="seed">
        
        <button id="loading" style="display: none"></button>
    </div>

    <div id="formProduct" style="display:none" class="form-group">
        <form method="post" action="post/" id="productForm">
            <p><label>Name: <input type="text" id="productName" class="form-control"></label></p>
            <p><label>Price: <input type="number" id="productPrice" class="form-control"></label></p>
            <p><label>Color: <input type="text" id="productColor" class="form-control"></label></p>
            <p><label>Size: <input type="text" id="productSize" class="form-control"></label></p>
            <p>
                <label>
                    Brand: <select id="showBrand" class="form-control"></select>
                </label>
                <label>
                    Category: <select id="showCategory" class="form-control"></select>
                </label>
                <label>
                    Gender: <select id="showGender" class="form-control"></select>
                </label>
            </p>

            <br />
            <p><button class="btn btn-warning">Submit</button></p>
            <input type="reset" id="reset" placeholder="Reset" class="btn btn-danger" />
        </form>
    </div>
    <div id="forme">
        
        @*<div id="formFest" style="display:none" class="form-group">
            <form method="post" action="post/" id="festForm">
                <p><label>Naziv: <input type="text" id="festNaziv" class="form-control"></label></p>
                <p><label>Cena: <input type="number" id="festCena" class="form-control"></label></p>
                <p><label>Godina: <input type="text" id="festGodina" class="form-control"></label></p>
                <p>
                    <label>
                        Mesto: <select id="showMesto" class="form-control"></select>
                    </label>
                </p>

                <br />
                <p><button class="btn btn-warning">Submit</button></p>
                <input type="reset" id="reset" placeholder="Reset" class="btn btn-default" />
            </form>
        </div>*@
    </div>
</div>


